{% extends "base_generic.html" %}

{% block content %}
<style>
    .user_card {
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        background: #f5f5f5fb;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    
    }
      
    .form_container {
        margin-top: 20px;
    }
    
    #form-title{
        color: rgb(8, 0, 0);
        font-weight: bolder;
    }
    .login_btn {
        width: 100%;
        background: #33ccff !important;
        color: white !important;
        width: 60% !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 4rem;
        margin-top: 2%;
    }
    .form-widt{
        width: 100% !important;
    }
    #password_label{
        font-weight: bold;
    }
    .links{
        color: red;
        width: 100% !important;
    }
  </style>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Reset Your Password</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                {% if validlink %}
                    <form  class="form-widt" action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column align-items-center mt-1 mb-1">
                        <p>Please enter the new password twice</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-1 mb-3 form-inline ">
                        <label id="password_label" for="id_new_password1">New password:</label>
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="d-flex flex-column align-items-center mt-1 mb-3 form-inline ">
                        <label id="password_label" for="id_new_password2">Confirm password:</label></td>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                    <div class="d-flex justify-content-center mb-3 login_container">
                        <input class="btn login_btn" type="submit" value="Change password">
                    </div>
                    </form>
                {% else %}
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">   
                        <h4>Password change failed!</h4><br>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <p>This reset link has already been used.</p>
                   </div>
                    <div class="d-flex justify-content-center links">
                        <p><a href="{% url 'omnetppManager_reset_password' %}">Password reset</a></p>
                   </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
