{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<h1 class="display-3">Generated Code for omnetpp.ini:</h1>
<div class="card border-danger mb-3">
  <div class="card-header">Simulation info</div>
  <div class="card-body text-danger">
    <h5 class="card-title">Simulation not started</h5>
    <p class="card-text">This is just the example output. Please check it carefully. Simulation start is not yet implemented.</p>
  </div>
</div>
<code>
    {{ omnetpp_ini|linebreaks|safe }}
</code>
{% endblock %}
