{% extends "base_generic.html" %}

{% block content %}

<h1 class="display-3">Simulation details for &quot;{{object.title}}&quot;</h1>

<ul>
    <li>Title: {{object.title}}</li>
    <li>User: {{object.user}}</li>
    <li>Run config: {{object.runconfig}}</li>
    <li>Status: {{object.get_status_display}}</li>
    <li>Precision: {{object.summarizing_precision}} s</li>
    <li>ID: {{object.simulation_id}}</li>
    {% if object.handled_by %}
    <li>Simulation server: {{ object.handled_by }}</li>
    {% endif %}
</ul>

<h2 class="display-5">omnetpp.ini</h2>
<code>
    {{object.omnetppini|linebreaks|safe}}
</code>

{% if object.simulation_error%}

<h2 class="display-5">Simulation error</h2>
<code>
    {{object.simulation_error|linebreaks|safe}}
</code>
{% endif %}
{% endblock %}
