{% extends "base_generic.html" %}

{% block content %}

<h1 class="display-3">Start a new simulation: Step {{wizard.steps.step1}}</h1>
<p> Step {{ wizard.steps.step1 }} of {{wizard.steps.count}} of simulation <code>{{ simulation_title }}</code></p>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.management_form }}
    <table>

    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {{ form }}
          {% endfor %}
        {% else %}
          {{ wizard.form }}
        {% endif %}

    </table>
    <input type="submit" value="next""/>
</form>

{% endblock %}
